@page "/developer"

<link rel="stylesheet" href="ConnectFour\Pages\Developer.razor.css" />
<PageTitle>Developer</PageTitle>

<h1>Yongding Sun</h1>
<img src="img/me.jpeg"/>
<p>Hi all, I hope you enjoy my game!</p>
<a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile">Follow me on Linkedin</a>

@code {
  
}
